
.nav-bar{
    display:flex;
      flex-direction:row;
      justify-content:flex-start;
      align-items:flex-start;
    }
    .toggle-btn{
      
    border:none;
      background-color:none;
      font-size:20px;
    }
    
    .sidebar-container{
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
       background-color:#ebf4fa;
       min-height:100vh;
      width:220px;
      border-radius:10px;
      padding:10px;
    }
    .sidebar{
      transform:translateX(-350px)
    }
    .openSidebar{
      
      transform:translateX(0)
    }
    .menu-bar{
      list-style:none;
      margin-bottom:10px;
       
    }
    .toggle-btn{
      display:flex;
      flex-direction:row;
      justify-content:flex-end;
      align-items:flex-end;
      margin-left:80%;
    }
    nav.hide{
      width:0;
    }
    
    .close-btn{
    
      margin-top:20px;
        display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
      
    }
    .title{
      font-size:20px;
      font-family:sans-serif;
      margin-right:30px;
    }
    .close-menu{
      background-color:transpaent;
      border:none;
      font-size:20px;
    }
    
    ul li{
      padding:20px 0 20px 20px;
       cursor:pointer;
      list-style:none;
     
    }
    ul li a{
      color:#111111;
      font-size:18px;
      margin-top:10px;
      text-decoration:none;
     
    }
    ul li i{
      margin-right:10px;
    }
    
    .toggleIcon{
    height:30px;
      width:110px;
      background-color:transpaent;
      border-radius:10px;
      margin-left:30px;
      margin-top:20px;
    }